<!DOCTYPE html>
<html {{{ htmlAttributes }}}>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  {{{ title }}}
  {{{ meta }}}
  {{{ link }}}
</head>
<body>
  <div id="app">{{{ app }}}</div>
  <div id="devtools"></div>

  <script id="initialState" type="application/json">{{{ initialState }}}</script>
  <script src="/vendor.bundle.js"></script>
  <script src="/bundle.js"></script>
  </body>
</html>
